node_modules/
.next/
out/
build/
*.db
*.db-journal
.env
.env*.local
.DS_Store
*.tsbuildinfo
next-env.d.ts
follow.txt
clickfied.png
Bigwindatagh.txt
clickyfied.txt


vps.txt
bigwintelecel.txt
MyCediNet Policies_102455.docx
scripts/test-order-allocation-e2e.ts
